<%= render "nav" %>

<h1 class="center my-3">About</h1>

<div style="margin-left:20%; margin-right:20%; padding:20px; margin-top:20px; background-color:#efe3ed; border-radius: 25px;">
<p>This project was inspired by an undergraduate poetry workshop I took with Zoë Brigley Thompson at Ohio State.</p>
<p>The exercise was to take a pre-existing poem (yours or someone else's) and cycle the nouns through the poem 7 spots. This would create an abstract poem, with lines and phrases you may never have considered.</p>
<p>The prompt was to then take a line from the mutated poem and write a poem based on it. The writer could then remove the original line or keep it.</p>
<br>
<p>The exercise was fascinating and helpful, but tedious. Whenever a task is tedious, I consider writing software to make it easier.</p>
<p>Hopefully this site provides a more seamless launching point for poets with writers block.</p>
</div>