<h1 class="center my-3">About</h1>

<div class="purple-background-light" style="margin-left:20%; margin-right:20%; padding:20px; margin-top:20px; border-radius: 25px;">
  <p>This project was inspired by an undergraduate poetry workshop I took with Zoë Brigley Thompson at Ohio State.</p>
  <p>The exercise was to take a pre-existing poem (yours or someone else's) and replace each noun with the noun that appear 7 positions after it in the dictionary. Alternatively, one could cycle the nouns within the poem 7 spots.</p>
  <p>The prompt was to then take a line from the mutated poem and write a poem based on it. The writer could then remove the original line or keep it.</p>
  <br>
  <p>Zoë's exercise was inspired by the OuLiPo movement, which you can read about <a href="https://www.poetryfoundation.org/learn/glossary-terms/oulipo">here</a>.</p>
  <br>
  <p>This application automates cycling/shuffling nouns, adjectives and lines.</p>
  <br>
  <p>Create an account or log in to create your own OuLiPo poems!</p>
</div>