<h1 class="center my-3">Public poems</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title %></td>
        <td class="poem">
          <%= simple_format(poem.text).html_safe %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>