<h1 class="center my-3">My poems</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 10%"></th>
      <th scope="col" style="width: 20%">Title</th>
      <th scope="col">Text</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td></td>
        <td><%= poem.title %></td>
        <td class="poem">
          <%= simple_format(poem.text).html_safe %>
        </td>
        <% if poem.public %>
          <td class="purple">Public</td>
        <% else %>
          <td class="purple">Public</td>
        <% end %>
        <td><%= link_to 'Show', poem_path(poem) %></td>
        <td class="padding-sides"><%= link_to 'Delete', poem_delete_path(poem) %></td>
      </tr>
    <% end %>
  </tbody>
</table>