<div class="container margin-top-30">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="margin-vertical">
        <%= link_to('Random Poem', random_poem_path(:generate => true), method: :get, :class => "btn btn-outline-secondary") %>
      </div>

      <%= simple_format(@text).html_safe %>

      <div class="margin-vertical">
        <%= link_to('Save Poem', new_poem_path(:text => @text), method: :get, :class => "btn btn-outline-secondary") %>
      </div>
    </div>
  </div>
</div>