// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-10 {
  margin-top: 10px;
  margin-left: 10%;
}

.width-40 {
  width: 40%;
}

.width-60 {
  width: 60%;
}

.height-40 {
  height: 40%;
}