// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-aqua: #63b5ba;
$color-salmon: #d67a60;
$color-purple: #8a6894;
$color-purple-light: #dcd3e3;


.purple {
  color: $color-purple;
}

.purple-background {
  background-color: $color-purple;
}

.purple-background-light {
  background-color: $color-purple-light;
}

.margin-10 {
  margin-top: 20px;
  margin-left: 10%;
}

.width-40 {
  width: 40%;
}

.width-60 {
  width: 60%;
}

.height-40 {
  height: 40%;
}

.center {
  text-align: center;
}

.margin-sides {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-vertical {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.poem {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.notice {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.alert {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.custom-error {
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.btn-blue:hover{
  background-color: $color-aqua !important;
  color: white !important;
}

.btn-blue {
  border-color: $color-aqua !important;
  color: $color-aqua !important;
}

.btn-orange:hover{
  background-color: $color-salmon !important;
  color: white !important;
}

.btn-orange {
  border-color: $color-salmon !important;
  color: $color-salmon !important;
}